<?xml version="1.0"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       	http://www.springframework.org/schema/beans 
       	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	  
      <bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:hibernate.properties" />
 		<property name="placeholderPrefix" value="$HIBERNATE{" />
 	  </bean>
	
	  <!-- Hibernate Spring -->
	  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="$HIBERNATE{connection.driverClassName}"/>
		<property name="url" value="$HIBERNATE{connection.url}"/>
		<property name="username" value="$HIBERNATE{connection.username}"/>
		<property name="password" value="$HIBERNATE{connection.password}"/>				
	  </bean>	


      <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"/>
    	<property name="mappingResources">
      		<list>
        		<value>utente.hbm.xml</value>
        		<!-- <value><table_name>.hbm.xml </value> -->
      		</list>
    	</property>
    	<property name="hibernateProperties">
      		<value>
        		hibernate.dialect=$HIBERNATE{hibernate.dialect}
      		</value>
    	</property>
  	  </bean>
      
   	  <bean id="hibernateService" class="it.telecom.wellness.service.HibernateServiceImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	  </bean>
	  
	  <!-- JDBC Spring -->
	  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
			<property name="dataSource" ref="dataSource" />
	  </bean>
	  <bean id="jdbcService" class="it.telecom.wellness.service.JdbcServiceImpl">
		 <property name="jdbcTemplate" ref="jdbcTemplate" />
	  </bean>
	  
<!-- Quartz scheduler -->
	  
			  	<!-- task -->
			  	<bean id="printToConsole" class="it.telecom.wellness.scheduler.PrintToConsole" />
			  	
			  	<!-- job -->
			  	<bean name="jobPrintToConsole" class="org.springframework.scheduling.quartz.JobDetailBean">
					<property name="jobClass" value="it.telecom.wellness.scheduler.JobPrintToConsole" />
					<property name="jobDataAsMap">
				  		<map>
							<entry key="printToConsole" value-ref="printToConsole" />
				  		</map>
					</property>
				</bean>
			  	
			  	
			  	<!-- trigger classico -->
			  	<bean id="simpleTrigger"  class="org.springframework.scheduling.quartz.SimpleTriggerBean">
					<property name="jobDetail" ref="jobPrintToConsole" />
					<property name="repeatInterval" value="5000" />
					<property name="startDelay" value="1000" />
				</bean>
			  	
			  	<!-- trigger stile Crontab UNIX -->
			  	<bean id="cronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerBean">
					<property name="jobDetail" ref="jobPrintToConsole" />
					<property name="cronExpression" value="0/10 * * * * ?" />
				</bean>
			  
			  	<!-- scheduler Factory 
			  	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
					<property name="jobDetails">
						<list>
							<ref bean="jobPrintToConsole" />
						</list>
					</property>
			
					<property name="triggers">
						<list>
							<ref bean="cronTrigger" />
						</list>
					</property>
				</bean>
				-->
<!-- fine Quartz -->	  


<!-- Actions -->

	    <!-- entity Utente -->
	    <bean id="utenteGenericActions" class="it.telecom.wellness.actions.UtenteGenericActions"> 
			<property name="hibernateService" ref="hibernateService"/>
			<property name="jdbcService" ref="jdbcService"/>
		</bean>
		<bean id="utenteCRUDActions" class="it.telecom.wellness.actions.UtenteCRUDActions"> 
			<property name="hibernateService" ref="hibernateService"/>
			<property name="jdbcService" ref="jdbcService"/>
		</bean>
		<!-- fine Utente -->
		
		<!-- entity <name> -->
		
		<!-- fine <name> -->
		
<!-- fine Actions -->

</beans>
