<?xml version="1.0"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
       
      
      <bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:hibernate.properties" />
 		<property name="placeholderPrefix" value="$HIBERNATE{" />
 	  </bean>
	
	  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="$HIBERNATE{connection.driverClassName}"/>
		<property name="url" value="$HIBERNATE{connection.url}"/>
		<property name="username" value="$HIBERNATE{connection.username}"/>
		<property name="password" value="$HIBERNATE{connection.password}"/>				
	  </bean>	
	
       
      <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"/>
    	<property name="mappingResources">
      		<list>
        		<value>siti.hbm.xml</value>
      		</list>
    	</property>
    	<property name="hibernateProperties">
      		<value>
        		hibernate.dialect=$HIBERNATE{hibernate.dialect}
      		</value>
    	</property>
  	  </bean>
      
      
   	<bean id="dbService" class="net.appuntivari.esempio.service.ServiceImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
            
     
    <bean id="myAction" class="net.appuntivari.esempio.actions.MyAction"> 
		<property name="dbService" ref="dbService"/>
	</bean>
</beans>
